* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(100, 56, 143);
  font-size: 1rem;
  text-align: center;
  margin-top: 2em;
  line-height: 1.2em;
  font-family: "poppins" sans-serif;
}

.main {
  align-items: center;
}
#title {
  margin-bottom: 20px;
  margin-top: 3em;
  font-size: 2em;
  letter-spacing: 1.5px;
}

.description {
  margin-bottom: 1.5em;
  font-style: italic;
}
#entry {
  margin-bottom: 2em;
}

#survey-form {
  width: 60vw;
  height: auto;
  margin: auto;
  padding: 2em;
  text-align: left;
  background-color: rgb(46, 4, 87);
  display: block;
}
.improve p {
  margin: 1em;
}

label {
  display: block;
}

input {
  width: 100%;
  height: 3em;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  border-style: none;
  display: inline-block;
}

input[type="radio"] {
  /* text-align: center; */
}
#dropdown {
  display: inline-block;
}

#dropdown option {
  background-color: gray;
  color: white;
}

#role {
  display: block;
}
]
.recommend input {
  display: inline;
  height: auto;
}

.improve input {
  display: inline;
  height: auto;
}

textarea {
  width: 100%;
  color: black;
}
.btn {
  background-color: green;
  display: block;
  margin-top: 2em;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
}

.comments {
  display: block;
}
