* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(100, 56, 143);
  font-size: 1rem;
  text-align: center;
  margin-top: 2em;
  line-height: 1.2em;
  font-family: "poppins" sans-serif;
}

.main {
  align-items: center;
}
#title {
  margin-bottom: 20px;
  margin-top: 3em;
  font-size: 2em;
  letter-spacing: 1.5px;
}

.description {
  margin-bottom: 1.5em;
  font-style: italic;
}
#entry {
  margin-bottom: 2em;
}

#survey-form {
  width: 60vw;
  height: auto;
  margin: auto;
  padding: 2em;
  text-align: left;
  display: inline-block;
  background-color: rgb(46, 4, 87);
}

.improve p {
  margin: 1em;
}

input {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
}

#role {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  display: block;
}

#dropdown {
  width: 100%;
  display: block;
}

#dropdown h2 {
  margin: 1em 0 1em 0;
}
#dropdown option {
  color: black;
}

.recommend {
  display: block;
}

.radio-input {
  display: inline-block;
  margin-right: 10px;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.improve input {
  /* display: inline; */
  height: auto;
}

textarea {
  width: 100%;
  color: black;
}
.btn {
  background-color: green;
  display: block;
  margin-top: 2em;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
}

.comments {
  display: block;
}
